/****** Object:  Table [dbo].[StreetNames]    Script Date: 1/20/2021 11:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StreetNames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StreetName] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StreetNames] ON 

INSERT [dbo].[StreetNames] ([Id], [StreetName]) VALUES (1, N'Henry Ford Avenue')
INSERT [dbo].[StreetNames] ([Id], [StreetName]) VALUES (2, N'Romines Mill Road')
INSERT [dbo].[StreetNames] ([Id], [StreetName]) VALUES (3, N'Clarence Court')
GO
SET IDENTITY_INSERT [dbo].[StreetNames] OFF
GO
