/****** Object:  Table [dbo].[GivenNames]    Script Date: 1/20/2021 11:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GivenNames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GivenName] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GivenNames] ON 

INSERT [dbo].[GivenNames] ([Id], [GivenName]) VALUES (1, N'Lora')
INSERT [dbo].[GivenNames] ([Id], [GivenName]) VALUES (2, N'Gary')
INSERT [dbo].[GivenNames] ([Id], [GivenName]) VALUES (3, N'Audrey')
GO
SET IDENTITY_INSERT [dbo].[GivenNames] OFF
GO
